<!-- html file for web app -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/style.css">
        <!-- <script src="<ahref="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">https://ajax.googleapix.com/ajax/libs/jquery/3.2.1/jquery.moin.js</a>"</script> -->
    </head>
    <body>
        <h1>Flask Chatterbot Test</h1>
        <div>
            <div id="chatbox">
                <p class="botText"><span>Hi! Im the bot</span></p>
            </div>
            <div id="userInput">
                <input id="textInput" type="text" name="asg" placeholder="Message">
                <input id="buttonInput" type="submit" value="Send">
            </div>
            <script>
                function getBotResponse(){
                    var rawText = $("#textInput").val();
                    var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
                    $("#textInput").val("");
                    $("#chatbox").append(userHtml);
                    document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
                    $.get("/get", { msg: rawText}).done(function(data) {
                        var botHtml = '<p class ="botText"><span>' + data + '</span></p>';
                        $("#chatbox").append(botHtml);
                        document.getElementById('userInput').scrollIntoView({block:"start", behavior:"smooth"});
                    });
                }
                // continues at line 30 ig post
            </script>
        </div>
    </body>
</html>